<!DOCTYPE html>
<html lang="en">


<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <h1 class="cover-heading">Product rates</h1>
        <table id="Covid Dashboard">
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Rate</th>
            </tr>

            <tbody>
                <% covidData.forEach((m)=> { %>
                    <tr>
                        <td>
                            <%= m.id %>
                        </td>
                        <td>
                            <%= m.product %>
                        </td>
                        <td>
                            <%= m.rate %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

    </div>


</body>

</html>